#lazy {
    color: royalblue;
}

#excited {
    color: red;
}

h4 {
    color:rgb(36, 167, 77);
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}